html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.clear { clear: both; }

strong, b { font-weight: bold; }

input, textarea { outline: none; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html, body { height: 100%; }

body { font-family: "Open Sans", sans-serif; font-size: 13px; background: #FFF; }

.template-wrapper { min-height: 100%; }

@font-face { font-family: "anklepan"; src: url("../fonts/Anklepan.eot"); src: url("../fonts/Anklepants.woff") format("woff"), url("../fonts/Anklepants.ttf") format("truetype"), url("../fonts/Anklepants.svg") format("svg"); font-weight: normal; font-style: normal; }
/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container { width: auto; margin-right: 30px; overflow: hidden; }

.mCSB_container.mCS_no_scrollbar { margin-right: 0; }

.mCS_disabled > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar, .mCS_destroyed > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar { margin-right: 30px; }

.mCustomScrollBox > .mCSB_scrollTools { width: 16px; height: 100%; top: 0; right: 0; }

.mCSB_scrollTools .mCSB_draggerContainer { position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: auto; }

.mCSB_scrollTools a + .mCSB_draggerContainer { margin: 20px 0; }

.mCSB_scrollTools .mCSB_draggerRail { width: 2px; height: 100%; margin: 0 auto; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }

.mCSB_scrollTools .mCSB_dragger { cursor: pointer; width: 100%; height: 30px; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 4px; height: 100%; margin: 0 auto; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; text-align: center; }

.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown { display: block; position: relative; height: 30px; width: 30px; -webkit-border-radius: 50%; border-radius: 50%; overflow: hidden; margin: 0 auto; cursor: pointer; top: 200px; }

.mCSB_scrollTools .mCSB_buttonDown { top: 300px; }

/* horizontal scrollbar */
.mCSB_horizontal > .mCSB_container { height: auto; margin-right: 0; margin-bottom: 30px; overflow: hidden; }

.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar { margin-bottom: 0; }

.mCS_disabled > .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar, .mCS_destroyed > .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar { margin-right: 0; margin-bottom: 30px; }

.mCSB_horizontal.mCustomScrollBox > .mCSB_scrollTools { width: 100%; height: 16px; top: auto; right: auto; bottom: 0; left: 0; overflow: hidden; }

.mCSB_horizontal > .mCSB_scrollTools a + .mCSB_draggerContainer { margin: 0 20px; }

.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail { width: 100%; height: 2px; margin: 7px 0; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }

.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger { width: 30px; height: 100%; }

.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 4px; margin: 6px auto; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }

.mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonRight { display: block; position: relative; width: 20px; height: 100%; overflow: hidden; margin: 0 auto; cursor: pointer; float: left; }

.mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonRight { margin-left: -40px; float: right; }

.mCustomScrollBox { -ms-touch-action: none; /*MSPointer events - direct all pointer events to js*/ }

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox:hover > .mCSB_scrollTools { opacity: 1; filter: "alpha(opacity=100)"; -ms-filter: "alpha(opacity=100)"; /* old ie */ }

.mCSB_scrollTools .mCSB_draggerRail { background: #000; /* rgba fallback */ background: rgba(0, 0, 0, 0.4); filter: "alpha(opacity=40)"; -ms-filter: "alpha(opacity=40)"; /* old ie */ }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background: #fff; /* rgba fallback */ background: rgba(255, 255, 255, 0.75); filter: "alpha(opacity=75)"; -ms-filter: "alpha(opacity=75)"; /* old ie */ }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: rgba(255, 255, 255, 0.85); filter: "alpha(opacity=85)"; -ms-filter: "alpha(opacity=85)"; /* old ie */ }

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(255, 255, 255, 0.9); filter: "alpha(opacity=90)"; -ms-filter: "alpha(opacity=90)"; /* old ie */ }

.mCSB_scrollTools .mCSB_buttonLeft { background-position: 0 -40px; /* 
sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
*/ }

.mCSB_scrollTools .mCSB_buttonRight { background-position: 0 -56px; /* 
sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
*/ }

.mCSB_scrollTools .mCSB_buttonUp:hover, .mCSB_scrollTools .mCSB_buttonDown:hover, .mCSB_scrollTools .mCSB_buttonLeft:hover, .mCSB_scrollTools .mCSB_buttonRight:hover { background-color: #F9B000; }

.mCSB_scrollTools .mCSB_buttonUp:active, .mCSB_scrollTools .mCSB_buttonDown:active, .mCSB_scrollTools .mCSB_buttonLeft:active, .mCSB_scrollTools .mCSB_buttonRight:active { background: #F9B000; }

/*scrollbar themes*/
/*dark (dark colored scrollbar)*/
.mCS-dark > .mCSB_scrollTools .mCSB_draggerRail { background: #000; /* rgba fallback */ background: rgba(0, 0, 0, 0.15); }

.mCS-dark > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background: #000; /* rgba fallback */ background: rgba(0, 0, 0, 0.75); }

.mCS-dark > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: rgba(0, 0, 0, 0.85); }

.mCS-dark > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(0, 0, 0, 0.9); }

.mCS-dark > .mCSB_scrollTools .mCSB_buttonUp { background-position: -80px 0; }

.mCS-dark > .mCSB_scrollTools .mCSB_buttonDown { background-position: -80px -20px; }

.mCS-dark > .mCSB_scrollTools .mCSB_buttonLeft { background-position: -80px -40px; }

.mCS-dark > .mCSB_scrollTools .mCSB_buttonRight { background-position: -80px -56px; }

/*light-2*/
.mCS-light-2 > .mCSB_scrollTools .mCSB_draggerRail { width: 4px; background: #fff; /* rgba fallback */ background: rgba(255, 255, 255, 0.1); -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; }

.mCS-light-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 4px; background: #fff; /* rgba fallback */ background: rgba(255, 255, 255, 0.75); -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; }

.mCS-light-2.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail { width: 100%; height: 4px; margin: 6px 0; }

.mCS-light-2.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 4px; margin: 6px auto; }

.mCS-light-2 > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: rgba(255, 255, 255, 0.85); }

.mCS-light-2 > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-light-2 > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(255, 255, 255, 0.9); }

.mCS-light-2 > .mCSB_scrollTools .mCSB_buttonUp { background-position: -32px 0; }

.mCS-light-2 > .mCSB_scrollTools .mCSB_buttonDown { background-position: -32px -20px; }

.mCS-light-2 > .mCSB_scrollTools .mCSB_buttonLeft { background-position: -40px -40px; }

.mCS-light-2 > .mCSB_scrollTools .mCSB_buttonRight { background-position: -40px -56px; }

/*dark-2*/
.mCS-dark-2 > .mCSB_scrollTools .mCSB_draggerRail { width: 4px; background: #000; /* rgba fallback */ background: rgba(0, 0, 0, 0.1); -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 4px; background: #000; /* rgba fallback */ background: rgba(0, 0, 0, 0.75); -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; }

.mCS-dark-2.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail { width: 100%; height: 4px; margin: 6px 0; }

.mCS-dark-2.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 4px; margin: 6px auto; }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: rgba(0, 0, 0, 0.85); }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(0, 0, 0, 0.9); }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_buttonUp { background-position: -112px 0; }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_buttonDown { background-position: -112px -20px; }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_buttonLeft { background-position: -120px -40px; }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_buttonRight { background-position: -120px -56px; }

/*light-thick*/
.mCS-light-thick > .mCSB_scrollTools .mCSB_draggerRail { width: 4px; background: #fff; /* rgba fallback */ background: rgba(255, 255, 255, 0.1); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.mCS-light-thick > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 6px; background: #fff; /* rgba fallback */ background: rgba(255, 255, 255, 0.75); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.mCS-light-thick.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail { width: 100%; height: 4px; margin: 6px 0; }

.mCS-light-thick.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 6px; margin: 5px auto; }

.mCS-light-thick > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: rgba(255, 255, 255, 0.85); }

.mCS-light-thick > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-light-thick > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(255, 255, 255, 0.9); }

.mCS-light-thick > .mCSB_scrollTools .mCSB_buttonUp { background-position: -16px 0; }

.mCS-light-thick > .mCSB_scrollTools .mCSB_buttonDown { background-position: -16px -20px; }

.mCS-light-thick > .mCSB_scrollTools .mCSB_buttonLeft { background-position: -20px -40px; }

.mCS-light-thick > .mCSB_scrollTools .mCSB_buttonRight { background-position: -20px -56px; }

/*dark-thick*/
.mCS-dark-thick > .mCSB_scrollTools .mCSB_draggerRail { width: 4px; background: #000; /* rgba fallback */ background: rgba(0, 0, 0, 0.1); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 6px; background: #000; /* rgba fallback */ background: rgba(0, 0, 0, 0.75); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.mCS-dark-thick.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail { width: 100%; height: 4px; margin: 6px 0; }

.mCS-dark-thick.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 6px; margin: 5px auto; }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: rgba(0, 0, 0, 0.85); }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(0, 0, 0, 0.9); }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonUp { background-position: -96px 0; }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonDown { background-position: -96px -20px; }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonLeft { background-position: -100px -40px; }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonRight { background-position: -100px -56px; }

/*light-thin*/
.mCS-light-thin > .mCSB_scrollTools .mCSB_draggerRail { background: #fff; /* rgba fallback */ background: rgba(255, 255, 255, 0.1); }

.mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 2px; }

.mCS-light-thin.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail { width: 100%; }

.mCS-light-thin.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 2px; margin: 7px auto; }

/*dark-thin*/
.mCS-dark-thin > .mCSB_scrollTools .mCSB_draggerRail { background: #000; /* rgba fallback */ background: rgba(0, 0, 0, 0.15); }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 2px; background: #000; /* rgba fallback */ background: rgba(0, 0, 0, 0.75); }

.mCS-dark-thin.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail { width: 100%; }

.mCS-dark-thin.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 2px; margin: 7px auto; }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: rgba(0, 0, 0, 0.85); }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark-thin > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(0, 0, 0, 0.9); }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_buttonUp { background-position: -80px 0; }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_buttonDown { background-position: -80px -20px; }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_buttonLeft { background-position: -80px -40px; }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_buttonRight { background-position: -80px -56px; }

h1 { font: 48px/56px "anklepan",arial,sans-serif; }

.tar { text-align: right; }

.tal { text-align: left; }

.tac { text-align: center; }

* { box-sizing: border-box; }

.about { background-image: url(../img/about.jpg); -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }

.title-block { text-align: center; }

.page-title { font: 48px/56px "anklepan",arial,sans-serif; color: #fff; }
.page-title:after { content: ""; width: 140px; height: 3px; background: #FFF; display: block; margin: 14px auto 20px; }

.page-descr { color: #f9b000; text-transform: uppercase; font-weight: 800; line-height: 1.5em; }

.rmenu { position: fixed; top: 30%; right: 30px; color: #FFF; }
.rmenu li { margin-bottom: 25px; text-align: center; position: relative; }
.rmenu li:hover span { background: #f9b000; }
.rmenu li:hover .sub { display: block; }
.rmenu span { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); display: block; border: 2px solid #fff; width: 30px; height: 30px; padding-top: 4px; cursor: pointer; }
.rmenu span i { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); font-size: 18px; }
.rmenu .sub { position: absolute; top: -5px; left: -105px; width: 106px; text-align: left; display: none; }
.rmenu .sub li { text-align: left; margin-bottom: 10px; width: 90px; }
.rmenu .sub h4 { color: #FFF; font-weight: 700; font-size: 13px; border-bottom: 2px solid #fff; text-transform: uppercase; margin-bottom: 5px; padding-bottom: 5px; width: 101px; }
.rmenu .sub a { color: #f9b000; font-weight: 600; font-size: 11px; text-decoration: none; position: relative; }
.rmenu .sub a:hover:before { content: "\f105"; font-family: "FontAwesome"; position: absolute; left: -12px; font-size: 16px; top: -1px; }

.lmenu { position: fixed; top: 24%; left: 30px; }
.lmenu img { width: 41px; display: inline-block; z-index: 2; position: relative; }
.lmenu a { position: relative; display: inline-block; }
.lmenu a:after { content: ""; display: inline-block; position: absolute; left: 7px; top: 7px; width: 28px; height: 28px; background: #F9B000; z-index: 1; display: none; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.lmenu a:hover:after { display: block; }
.lmenu li { margin-bottom: 5px; }
.lmenu li a:nth-child(even) { position: relative; top: 25px; left: -18px; }
.lmenu h4 { font-size: 13px; font-weight: 800; text-transform: uppercase; color: #FFF; margin-bottom: 30px; }

.sidemenu { width: 480px; min-height: 100%; position: fixed; top: 0; left: 0; background: #34485f url(../img/sidemenu.png) 0 0 no-repeat; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; -webkit-transition: .3s all; -moz-transition: .3s all; -ms-transition: .3s all; -o-transition: .3s all; transition: .3s all; }
.sidemenu .title-block { padding-top: 70px; margin-bottom: 50px; }

.sidemenu-closed { width: 180px; }
.sidemenu-closed .sb-text { display: none; }
.sidemenu-closed .title-block { display: none; }
.sidemenu-closed .sidemenu-list { position: absolute; top: 50%; left: 0; padding-left: 0px; margin-top: -290px; height: 600px; width: 250px; }
.sidemenu-closed .mCSB_container { padding-left: 60px; }

.sidemenu-block { margin-bottom: 40px; }
.sidemenu-block.current a:after { display: block; }
.sidemenu-block a { display: block; color: #FFF; position: relative; text-decoration: none; }
.sidemenu-block a:after { content: ""; display: inline-block; position: absolute; left: 13px; top: 13px; width: 55px; height: 55px; background: #F9B000; z-index: 1; display: none; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.sidemenu-block a:hover:after { display: block; }

.sb-img { width: 81px; float: left; margin-right: 20px; position: relative; z-index: 2; }

.sidemenu-list { padding-left: 0px; padding-right: 100px; position: relative; height: 640px; }

.sb-text { line-height: 1.4em; margin-left: 101px; position: relative; top: -5px; }

.sb-text-title { text-transform: uppercase; font-weight: 700; margin-bottom: 5px; }

.sb-text-descr { font-size: 11px; }

.sidemenu-btn { background: url('../img/icons-s2bdb587284.png') 0 -236px no-repeat; width: 30px; height: 60px; display: inline-block; position: absolute; right: 0; top: 50%; margin-top: -30px; color: #121E2A; text-align: center; cursor: pointer; }
.sidemenu-btn:after { content: "\f105"; color: #121E2A; font-size: 45px; position: relative; top: 5px; left: 5px; font-family: "FontAwesome"; cursor: pointer; }

.sidemenu-btn-close:after { content: "\f104"; left: 0; }

.template-content { margin-left: 150px; padding-left: 190px; padding-right: 180px; padding-top: 200px; min-height: 100%; }

.template-wrapper { -webkit-transition: .3s all; -moz-transition: .3s all; -ms-transition: .3s all; -o-transition: .3s all; transition: .3s all; background: url(../img/bottom.png) 0 100% no-repeat; }

.template-wrapper-menu-open { margin-left: 300px; }

.f35 { display: inline-block; width: 439px; height: 144px; background: url(../img/icons/f35.png) 0 0 no-repeat; position: absolute; top: 30px; right: 40px; -webkit-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; }

.template-title { color: #F9B000; padding-left: 30px; margin-bottom: 70px; }

.title-col { width: 50%; }

.t-col { float: left; width: 50%; padding: 0 30px; }
.t-col img { max-width: 100%; }

.t-col-1 { border-right: 3px solid #F9B000; }

.t-col-2 { border-left: 3px solid #F9B000; position: relative; left: -3px; }

.template-text-wrapper { padding-bottom: 110px; }
.template-text-wrapper p { margin-bottom: 20px; line-height: 1.4em; }
.template-text-wrapper p i { font-style: italic; font-weight: 600; color: #4B5F78; }
.template-text-wrapper h2 { font-weight: 700; text-transform: uppercase; color: #273583; }

.pt80 { padding-top: 80px; }

.plain { position: absolute; right: 60px; top: 145px; }

.text-block p { margin-bottom: 20px; line-height: 1.4em; text-align: justify; }
.text-block p i { font-style: italic; font-weight: 600; color: #4B5F78; }
.text-block h2 { font-weight: 700; text-transform: uppercase; color: #273583; }

.img-left-col { float: left; margin-right: 30px; }
.img-left-col img { max-width: 100%; }

.img-right-col { float: right; margin-left: 30px; }

.template-img-wrapper { margin-left: 180px; margin-right: 150px; }

.template-img-right-wrapper { margin-left: 225px; }

.text-right-col { padding: 0 30px; padding-top: 140px; }
.text-right-col .template-title { padding-left: 0; }

.template-wrapper-video { background-color: #0f111d; }

.video-content-wrapper { margin-left: 375px; margin-right: 200px; padding-top: 135px; padding-bottom: 100px; }
.video-content-wrapper .template-title { margin-bottom: 40px; padding-left: 0; }

.video-player { margin-bottom: 45px; }
.video-player img { max-width: 100%; }

.video-text { width: 50%; color: #FFF; }

.vt-title { font-weight: bold; color: #F9B000; text-transform: uppercase; margin-bottom: 5px; }

.vt-block { font-size: 11px; line-height: 1.3em; }

.login-page { background-image: url(../img/login-background.jpg); -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }

.login-block { width: 500px; position: absolute; left: 50%; top: 50%; margin-left: -250px; margin-top: -150px; }
.login-block .page-title { text-align: center; }

.login-row { padding: 15px; height: 50px; border: 2px solid #fff; background: rgba(255, 255, 255, 0.2); margin-bottom: 30px; }
.login-row label { color: #FFF; text-transform: uppercase; font-weight: bold; margin-right: 10px; }
.login-row input { color: #000; font-weight: bold; background: none; border: none; }

.btn { border: 2px solid #fff; background: rgba(255, 255, 255, 0.2); padding: 10px 15px; text-transform: uppercase; font-weight: 700; color: #FFF; float: right; font-family: 'Open Sans', sans-serif; cursor: pointer; }

.mCSB_scrollTools .mCSB_draggerRail { opacity: 0; }

.mCSB_scrollTools .mCSB_dragger { opacity: 0; }

.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown { background: #FFF; opacity: 1; text-align: center; }

.mCustomScrollBox > .mCSB_scrollTools { width: 30px; left: 15px; top: 5px; }

.mCSB_container { padding-left: 95px; margin-right: 0; }

.mCSB_scrollTools .mCSB_draggerContainer { left: auto; }

.mCSB_scrollTools .mCSB_buttonDown:after { content: "\f107"; font-family: "FontAwesome"; font-size: 30px; position: relative; left: -1px; top: 1px; }

.mCSB_scrollTools .mCSB_buttonUp:after { content: "\f106"; font-family: "FontAwesome"; font-size: 30px; position: relative; left: -1px; top: -3px; }

.mCSB_scrollTools:after { content: ""; width: 30px; height: 2px; background: #FFF; position: absolute; left: 0; top: 280px; }

@media (max-width: 1830px) { .img-left-col { width: 50%; }
  .img-right-col { width: 48%; }
  .img-right-col img { max-width: 100%; } }
@media (max-width: 1600px) { .template-content { padding-left: 70px; padding-right: 70px; }
  .plain img { max-width: 500px; }
  .template-img-wrapper { margin-right: 50px; } }
@media (max-width: 1279px) { .t-col { width: 100%; border: none; }
  .pt80 { padding-top: 0; }
  .template-content { padding-top: 330px; }
  .title-col { width: 100%; }
  .img-left-col, .img-right-col { float: none; width: 100%; }
  .text-right-col { padding-top: 30px; }
  .video-content-wrapper { margin-left: 230px; margin-right: 60px; } }
@media (max-width: 1023px) { .template-wrapper-menu-open { margin-left: 0; }
  .login-block { margin-left: -150px; } }
@media (max-width: 767px) { .sidemenu { display: none; }
  .template-content { margin-left: 0; padding-left: 0; padding-right: 0; padding-top: 270px; }
  .plain { top: 79px; right: 10px; }
  .plain img { max-width: 100%; }
  .f35 { max-width: 50%; top: 10px; right: 10px; }
  .template-img-wrapper { margin-left: 0; margin-right: 0; }
  .template-img-right-wrapper { margin-left: 0; }
  .img-right-col { margin-left: 0; }
  .video-content-wrapper { margin-left: 20px; margin-right: 20px; }
  .login-block { width: 100%; left: 0; padding-left: 30px; padding-right: 30px; margin-left: 0; } }
@media (max-width: 479px) { .template-title { margin-bottom: 20px; }
  .template-title h1 { font-size: 30px; line-height: 36px; }
  .template-content { padding-top: 230px; }
  .video-text { width: 100%; }
  .video-content-wrapper { padding-top: 65px; }
  .login-row input { width: 50%; } }
@media (max-width: 360px) { .template-content { padding-top: 180px; }
  .plain { top: 60px; } }
