///////////////// main /////////////////////
h1 {
	font: 48px/56px "anklepan",arial,sans-serif;
	color: #f9b000;
}

.tar {
	text-align: right;
}
.tal {
	text-align: left;
}
.tac {
	text-align: center;
}
* {
	box-sizing:border-box;
}
///////////////// header ////////////////////
.about {
	background-image: url(../img/about.jpg);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.page {
	background-image: url(../img/about.jpg);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.title-block {
	text-align: center;
}
.page-title {
	font: 48px/56px "anklepan",arial,sans-serif;
	color: #fff;
	
	&:after {
		content: "";
		width: 140px;
		height: 3px;
		background: #FFF;
		display: block;
		margin: 14px auto 20px;
	}
}
.page-descr {
	color: #f9b000;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1.5em;
}
.rmenu {
	position: fixed;
	top: 30%;
	right: 30px;
	color: #FFF;
	li {
		margin-bottom: 25px;
		text-align: center;
		position: relative;
		&:hover {
			span {
				background: #f9b000;
			}
			.sub {
				display: block;
			}
		}
	}
	span {
		-webkit-transform: rotate(45deg);	
		   -moz-transform: rotate(45deg);	
		    -ms-transform: rotate(45deg);	
		     -o-transform: rotate(45deg);	
		        transform: rotate(45deg);	
	    display: block;
	    border: 2px solid #fff;
	    width: 30px;
		height: 30px;
		padding-top: 4px;
		cursor: pointer;
		i {-webkit-transform: rotate(-45deg);	
		   -moz-transform: rotate(-45deg);	
		    -ms-transform: rotate(-45deg);	
		     -o-transform: rotate(-45deg);	
		        transform: rotate(-45deg);	
			font-size: 18px;

		}
	}
	.sub {
		position: absolute;
		top: -5px;
		left: -105px;
		width: 106px;
		text-align: left;
		display: none;
		li {
			text-align: left;
			margin-bottom: 10px;
			width: 90px;
		}
		h4 {
			color: #FFF;
			font-weight: 700;
			font-size: 13px;
			border-bottom: 2px solid #fff;
			text-transform: uppercase;
			margin-bottom: 5px;
			padding-bottom: 5px;
			width: 101px;
		}
		a {
			color: #f9b000;
			font-weight: 600;
			font-size: 11px;
			text-decoration: none;
			position: relative;
			&:hover {
				&:before {
					content: "\f105";
					font-family: "FontAwesome";
					position: absolute;
					left: -12px;
					font-size: 16px;
					top: -1px;
				}
			}
		}
	}
}
.lmenu {
	position: fixed;
	top: 24%;
	left: 30px;
	img {
		width: 41px;
		display: inline-block;
		z-index: 2;
		position: relative;
	}
	a {
		position: relative;
		display: inline-block;
		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			left: 7px;
			top: 7px;
			width: 28px;
			height: 28px;
			background: #F9B000;
			z-index: 1;
			display: none;
			-webkit-transform: rotate(-45deg);	
		   -moz-transform: rotate(-45deg);	
		    -ms-transform: rotate(-45deg);	
		     -o-transform: rotate(-45deg);	
		        transform: rotate(-45deg);	
		}
		&:hover {
			&:after {
				display: block;
			}
		}
	}
	li {
		margin-bottom: 5px;
		a:nth-child(even) {
			position: relative;
			top: 25px;
			left: -18px;
		}
	}
	h4 {
		font-size: 13px;
		font-weight: 800;
		text-transform: uppercase;
		color: #FFF;
		margin-bottom: 30px;
	}
}
.sidemenu {
	width: 480px;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #34485f url(../img/sidemenu.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	-webkit-transition: .3s all;
	   -moz-transition: .3s all;
	    -ms-transition: .3s all;
	     -o-transition: .3s all;
	        transition: .3s all;
	.title-block {
		padding-top: 70px;
		margin-bottom: 50px;
	}
}
.sidemenu-closed {
	width: 180px;
	.sb-text {
		display: none;
	}
	.title-block {
		display: none;
	}
	.sidemenu-list {
		position: absolute;
		top: 50%;
		left: 0;
		padding-left: 0px;
		margin-top: -290px;
		height: 600px;
		width: 250px;
	}
	.mCSB_container {
		padding-left: 60px;
	}
}
.sidemenu-block {
	margin-bottom: 40px;
	&.current {
		a:after {
			display: block;
		} 
	}
	a {
	display: block;
	color: #FFF;
	position: relative;
	text-decoration: none;
	&:after {
			content: "";
			display: inline-block;
			position: absolute;
			left: 13px;
			top: 13px;
			width: 55px;
			height: 55px;
			background: #F9B000;
			z-index: 1;
			display: none;
			-webkit-transform: rotate(-45deg);	
			   -moz-transform: rotate(-45deg);	
			    -ms-transform: rotate(-45deg);	
			     -o-transform: rotate(-45deg);	
			        transform: rotate(-45deg);	
		}
		&:hover {
			&:after {
				display: block;
			}
		}
}
} 
.sb-img {
	width: 81px;
	float: left;
	margin-right: 20px;
	position: relative;
	z-index: 2;
	
}
.sidemenu-list {
	padding-left: 0px;
	padding-right: 100px;
	position: relative;
	//width: 100%;
	height: 640px;

	
}
.sb-text {
	line-height: 1.4em;
	margin-left: 101px;
	position: relative;
	top: -5px;
}
.sb-text-title {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px;
}
.sb-text-descr {
	font-size: 11px;
}
.sidemenu-btn {
	@include s(smenu-btn);
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -30px;
	color: #121E2A;
	text-align: center;
	cursor: pointer;
	&:after {
		content: "\f105";
		color: #121E2A;
		font-size: 45px;
		position: relative;
		top: 5px;
		left: 5px;
		font-family: "FontAwesome";
		cursor: pointer;
	}
}
.sidemenu-btn-close {
	&:after {
		content: "\f104";
		left: 0;
	}
}
///////////////////////////////// template-content ///////////////////////////
.template-content {
	margin-left: 150px;
	padding-left: 190px;
	padding-right: 180px;
	padding-top: 200px;
	min-height: 100%;
}
.template-wrapper {
	-webkit-transition: .3s all;
	   -moz-transition: .3s all;
	    -ms-transition: .3s all;
	     -o-transition: .3s all;
	        transition: .3s all;
	    background: url(../img/bottom.png) 0 100% no-repeat;
}
.template-wrapper-menu-open {
	// margin-right: -300px;
}
.f35 {
	display: inline-block;
	width: 439px;
	height: 144px;
	background: url(../img/icons/f35.png) 0 0 no-repeat;
	position: absolute;
	top: 30px;
	right: 40px;	
	-webkit-background-size: 100% auto;
	     -o-background-size: 100% auto;
	        background-size: 100% auto;
}
.template-title {
	color: #F9B000;
	padding-left: 30px;
	margin-bottom: 70px;
}
.title-col {
	width: 50%;
}
.t-col {
	float: left;
	width: 50%;
	padding: 0 30px;
	img {
		max-width: 100%;
	}
}
.t-col-1 {
	border-right: 3px solid #F9B000;
}
.t-col-2 {
	border-left: 3px solid #F9B000;
	position: relative;
	left: -3px;
}
.template-text-wrapper {
	padding-bottom: 110px;
	p {
		margin-bottom: 20px;
		line-height: 1.4em;
		i {
			font-style: italic;
			font-weight: 600;
			color: #4B5F78;
		}
	}
	h2 {
		font-weight: 700;
		text-transform: uppercase;
		color: #273583;
	}
}
.pt80 {
	padding-top: 80px;
}
.plain {
	position: absolute;
	right: 60px;
	top: 145px;
}
.text-block {
	p {
		margin-bottom: 20px;
		line-height: 1.4em;
		text-align: justify;
		i {
			font-style: italic;
			font-weight: 600;
			color: #4B5F78;
		}
	}
	h2 {
		font-weight: 700;
		text-transform: uppercase;
		color: #273583;
	}
}
.img-left-col {
	float: left;
	width: 50%;
	img {
		width: auto;
		height: 100vh;
	}
}
.img-right-col {
	float: right;
	margin-left: 30px;
}
.template-img-wrapper {
	margin-left: 180px;
	margin-right: 150px;
	// position: relative;
	// z-index: 2;
}
.template-img-right-wrapper {
	margin-left: 225px;
}
.text-right-col {
	padding: 0 30px;
	padding-top: 140px;
	float: right;
	width: 50%;
	max-height: 90vh;
	//overflow-y: scroll ;
	.template-title {
		padding-left: 0;
	}
}
///////////////////// video //////////////////////////
.template-wrapper-video {
	background-color: #0f111d;
}
.video-content-wrapper {
	margin-left: 375px;
	margin-right: 200px;
	padding-top: 135px;
	padding-bottom: 100px;
	.template-title {
		margin-bottom: 40px;
		padding-left: 0;
	}
}
.video-player {
	margin-bottom: 45px;
	img {
		max-width: 100%;
	}
}
.video-text {
	width: 50%;
	color: #FFF;
}
.vt-title {
	font-weight: bold;
	color: #F9B000;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.vt-block {
	font-size: 11px;
	line-height: 1.3em;
}
.login-page {
	background-image: url(../img/login-background.jpg);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.login-block {
	width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -150px;
	.page-title {
		text-align: center;
	}
}
.login-row {
	padding: 15px;
	height: 50px;
	border: 2px solid #fff;
	background: rgba(255,255,255,.2);
	margin-bottom: 30px;
	label {
		color: #FFF;
		text-transform: uppercase;
		font-weight: bold;
		margin-right: 10px;
	}
	input {
		color: #000;
		font-weight: bold;
		background: none;
		border: none;
	}
}
.btn {
	border: 2px solid #fff;
	background: rgba(255,255,255,.2);
	padding: 10px 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFF;
	float: right;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}
.mCSB_scrollTools .mCSB_draggerRail {
	opacity: 0;
}
.mCSB_scrollTools .mCSB_dragger {
	opacity: 0;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
	background: #FFF;
	opacity: 1;
	text-align: center;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
	        box-shadow: 0 0 3px rgba(0,0,0,.5);
}
.mCustomScrollBox > .mCSB_scrollTools {
	width: 30px;
	left: 15px;
	top: 5px;
}
.mCSB_container {
	padding-left: 95px;
	margin-right: 0;
}
.mCSB_scrollTools .mCSB_draggerContainer {
	left: auto;
}
.mCSB_scrollTools .mCSB_buttonDown {
	&:after {
		content:"\f107";
		font-family: "FontAwesome";
		font-size: 30px;
		position: relative;
		left: -1px;
		top: 1px;
	}
}
.mCSB_scrollTools .mCSB_buttonUp {
	&:after {
		content:"\f106";
		font-family: "FontAwesome";
		font-size: 30px;
		position: relative;
		left: -1px;
		top: -3px;
	}
}
.mCSB_scrollTools:after {
	content: "";
	width: 30px;
	height: 2px;
	background: #FFF;
	position: absolute;
	left: 0;
	top: 280px;
}
////////////////////////////// page /////////////////////////
.page-normal {
	padding-top: 240px;
}
.page-wrapper {
	background: #FFF;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 440px;
	margin-right: 440px;
	margin-bottom: 40px;
	h1 {
		margin-bottom: 20px;
	}
	p {
		line-height: 1.4em;
		margin-bottom: 25px;
	}
	ul {
		margin-bottom: 25px;
	}
	li {
		margin-bottom: 10px;
	}
	a {
		text-transform: uppercase;
		font-weight: bold;
		color: #000;
		text-decoration: none;
		position: relative;
		&:hover {
			color: #F9B000;
			&:before {
					content: "\f105";
					font-family: "FontAwesome";
					position: absolute;
					left: -12px;
					font-size: 16px;
					top: -1px;
					}
		}
	}
}
.sidemenu-no-icons.sidemenu-open {
	.sb-img {
		display: none;
	}
	.sb-text {
		margin-left: 0;
	}
	.sidemenu-block {
		a {
			&:after {
				width: 0;
				height: 0;
			}
		}
	}
	
} 

////////////////////////////// responsive /////////////////////////
@media (max-width: 1830px) {
	.img-left-col {
		width: 50%;
	}
	.text-right-col {
		
	}
	.img-right-col {
		width: 48%;
		img {
			max-width: 100%;
		}
	}
}
@media (max-width: 1600px) {
	.template-content {
		padding-left: 70px;
		padding-right: 70px;
	}
	.plain {
		img {
			max-width: 500px;
		}
	}
	.template-img-wrapper {
		margin-right: 50px;
	}
	.page-wrapper {
		margin-right: 100px;
		margin-left: 100px;
	}
}
@media (max-width: 1279px) {
	.t-col {
		width: 100%;
		border: none;
	}
	.pt80 {
		padding-top: 0;
	}
	.template-content {
		padding-top: 330px;
	}
	.title-col {
		width: 100%;
	}
	
	.text-right-col {
		padding-top: 30px;
		width: 100%;
		float: none;
		max-height: 1000vh;
		margin-bottom: 30px;
	}
	.img-left-col {
		width: 100%;
		img {
			height: auto;
			max-width: 100%;
		}
	}
	.video-content-wrapper {
		margin-left: 230px;
		margin-right: 60px;
	}
	html,body {
		overflow: visible;
	}
	.template-img-wrapper {
		margin-right: 0;
	}
}
@media (max-width: 1023px) {
	.template-wrapper-menu-open {
		margin-left: 0;
	}
	.login-block {
		margin-left: -150px;
	}
}
@media (max-width: 767px) {
	.sidemenu {
		display: none;
	}
	.template-content {
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 270px;
	}
	.plain {
		top: 79px;
		right: 10px;
		img {
			max-width: 100%;
		}
	}
	.f35 {
		max-width: 50%;
		top: 10px;
		right: 10px;
	}
	.template-img-wrapper {
		margin-left: 0;
		margin-right: 0;
	}
	.template-img-right-wrapper {
		margin-left: 0;
	}
	.img-right-col {
		margin-left: 0;
	}
	.video-content-wrapper {
		margin-left: 20px;
		margin-right: 20px;
	}
	.login-block {
		width: 100%;
		left: 0;
		padding-left: 30px;
		padding-right: 30px;
		margin-left: 0;
	}
	.page {
		padding-top: 100px;
	}
	.page-wrapper {
		margin-left: 10px;
		margin-right: 10px;
		padding: 20px;
	}
}
@media (max-width: 479px) {
	.template-title {
		margin-bottom: 20px;
		h1 {
			font-size: 30px;
			line-height: 36px;
		}
		
	}
	.template-content {
		padding-top: 230px;
	} 
	.video-text {
		width: 100%;
	}
	.video-content-wrapper {
		padding-top: 65px;
	}
	.login-row {
		input {
			width: 50%;
		}
	}
	.page-wrapper {
		h1 {
			font-size: 30px;
			line-height: 36px;
		}
	}
}
@media (max-width: 360px) {
	.template-content {
		padding-top: 180px;
	} 
	.plain {
		top: 60px;
	}
}